@import "tailwindcss";
@plugin "daisyui";

#root {
  margin: 0 auto; /* Adaugă această linie pentru a centra containerul pe orizontală */
  /* padding: 1rem; Poți adăuga padding pentru a adăuga margini interioare */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #fb61c8e7);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
