@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: transparent !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Paletă de bază (background + container)
Element	Culoare aproximativă	Cod HEX

Fundal principal	Albastru închis	#0d1117
--color-bg: #0d1117;

Card container	Gri-albastru închis	#1b2431
--color-container: #1b2431;

Form input	Gri-albastru	#2b3445
--color-input: #2b3445;

Linie progres bar	Albastru deschis	#2684ff
--color-progress-bar: #2684ff;


💡 Accente
Element	Culoare aproximativă	Cod HEX
Buton "Donate" (fundal)	Verde vibrant	#16a34a
--color-button-donate: #16a34a;

Buton "Donate" (hover)	Verde închis	#15803d
--color-button-donate-hover: #15803d;

Text albastru (RON)	Albastru intens	#3b82f6
--color-text-blue: #3b82f6;

Text purple (emoji 💜)	Violet	#a855f7
--color-text-purple: #a855f7;



⚪ Text și iconițe
Element	Culoare aproximativă	Cod HEX
Text principal	Gri foarte deschis	#e5e7eb
--color-text-primary: #e5e7eb;

Text secundar/timp	Gri mediu	#9ca3af
--color-text-secondary: #9ca3af;

Placeholder input	Gri deschis	#d1d5db
--color-text-placeholder: #d1d5db;

Text buton	Alb	#ffffff 
--color-button-text: #ffffff;
*/

@theme {
  --color-bg: #0d1117;
  --color-container: #1b2431;
  --color-input: #2b3445;
  --color-progress-bar: #2684ff;
  --color-button-donate: #16a34a;
  --color-button-donate-hover: #15803d;
  --color-text-blue: #3b82f6;
  --color-text-purple: #a855f7;
  --color-text-primary: #e5e7eb;
  --color-text-secondary: #9ca3af;
  --color-text-placeholder: #d1d5db;
  --color-button-text: #ffffff;
  --color-text-grey: #768383;
  --color-third-bg: #282e3f;
  --color-second-bg: #181c26;

  --breakpoint-mic: 850px;
  --breakpoint-mic2: 1024px;
  --breakpoint-mic3: 1100px;
  --breakpoint-mic4: 1500px;
}

p,
h1,
h2,
h3,
h4 {
  color: var(--color-text-primary);
}
